@import 'fylo-data-config';

body{
    background-color: $Very-Dark-Blue;
    background-image: url("/images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
main{
    display: flex;
    gap: 1.5rem;
    transform: translateY(-80px);
}

.section{
    background-color: $Dark-Blue;
    padding: 2.5rem;
}
.section.section-one{
    border-radius:6px 100px 6px 6px;
     padding-right: 10%;
}

#logo {
    display: block;
    margin: 0 0 2rem 0;
    // width: 150px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.boxes{
    background-color: $Very-Dark-Blue;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    &:hover img{
        scale: 1.4;
        cursor: pointer;
    }

}

.section.section-two{
    border-radius: 10px;
    align-self:flex-end;
    position: relative;
    p.info{
        margin-bottom: 1rem;
        color: $Pale-Blue;
        font-size: 14px;

        span{
            font-weight: 700;
        }
    }

    .hover{
        padding:0.7rem 1.2rem;
        background-color: $Pale-Blue;
        color: $Very-Dark-Blue;
        position: absolute;
        border-radius: 10px 10px 0 10px;
        top: -30px;
        right: 40px;

        p{
            font-size: 13px;
            display: flex;
            align-items: center;
            gap: 13px;
            font-weight: 700;
            span.left{
               
                font-size: 2rem;
            }
            .right{
                opacity: 0.3;
            }
        }

        &:after{
            position: absolute;
            top: 90%;
            content: "";
            right: -13px;
          width: 0;
          height: 0;
          border-style: solid;
          border-right: 20px solid transparent;
          border-left: 20px solid transparent;
          border-top: 0;
          border-bottom: 20px solid $Pale-Blue;
          transform: rotate(46deg);




        }
    }
}


.storage {
    width: 420px;
    height: 15px;
    background-color: $Very-Dark-Blue;
    border-radius: 10px;
    display: flex;
    padding-left: 2px;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 1px;
    cursor:not-allowed;
    .progress{
        width: 81.5%;
        height: 10px;
        border-radius: 10px;
       
        // background: linear-gradient(gradient, $Gradient2);
        background-image: linear-gradient(90deg, $Gradient, $Gradient2);
    }

    .thumb{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $Pale-Blue;
        transform: translateX(-5px);

       }
}

.data-space {
display: flex;
justify-content: space-between;
align-items: center;
p{
    color: $Pale-Blue;
    font-size: 13px;
}
}


@import 'fylo-data-media-query';